# Node.js
**/node_modules/
**/dist/
**/.angular/
**/.output/
**/.vite/

# Python
**/__pycache__/
**/*.py[cod]
**/*.egg-info/
**/.env/
**/env/
**/.venv/

# Raspberry Pi GPIO cache (si existiera)
*.lgd-nfy*

# Logs
*.log
*.log.*

# IDEs y editores
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Otros
*.swp
*.swo
